.lista-produtos {
    

    h2 {
        font-weight: 250;
        background-color: rgba(252, 6, 6, 0.836);
        font-size: 30px;
        margin-bottom: 15px;
    }

    h3 {
        font-weight: 500;
        background-color: rgb(212, 206, 206);
        font-size: 18px;
        margin-top: 16px;
    }

    p {
    
        font-weight: 500;
        background-color: rgb(207, 206, 206);
        font-size: 18px;
        margin-top: 16px;
    }

    .produto {
        margin: 0 32px 16px 32px;
        height: 320px;
        background-color: rgb(245, 229, 229);
        box-shadow: 0 2px 1px -1px rgb(248, 244, 244), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
        border-radius: 4px;

        .descricao-produto {
            padding: 10px;
        }

        img {
            flex-grow: 0;
            border-radius: 4px 0 0 4px;
        }

        .grow {
            flex-grow: 1;
            width: 0;
        }

        

        button {
            width: 120px;
            font-weight: 500;
            font-size: 17px;
        }
    }
}

.btnCadastrar{
    margin-left: 550px;
}
